.confirm-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.delete-button {
    color: white;
    border: none;
}

.delete-button:hover {
    border: none;
    background-color: #b92330;
}

.react-confirm-alert > div > h1 {
    color: black;
}

.react-confirm-alert-overlay {
    z-index: 100;
}

.react-confirm-alert-button-group > button.confirmation-button-confirm {
    background-color: green;
    color: white;
}

.react-confirm-alert-button-group > button.confirmation-button-cancel {
    background-color: red;
    color: white;
}
