.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 50px;
    z-index: 0;
}

.footer-div {
    margin-top: 90px;
    position: relative;
    z-index: 0;
}

.footer-text {
    color: white;
    text-align: center;
    line-height: 50px;
    z-index: 0;
}

